@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
/* font-family: 'Crimson Text', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
/* font-family: 'Crimson Text', serif; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
